html {
    scroll-behavior: smooth;
}

.inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.green-text {
    color: #1DD100;

}

.btn1 {
    border-radius: 12px;
    background: #1DD100;
    padding: 21px 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}


.btn1:hover {
    transform: scale(1.05);
    background: transparent;
    color: white;
    border: 2px solid #1DD100;
}

.offer-btn {
    border-radius: 12px;
    border: 1px solid #1DD100;
    display: inline-flex;
    padding: 21px 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.offer-btn:hover {
    color: white;
    background-color: #1DD100;
    transform: scale(1.05);
}

.b-border {
    border-bottom: 3px solid #1DD100;
}

.gradient {
    border-radius: 32px;
    background: linear-gradient(180deg, rgba(3, 7, 18, 0.50) 0%, rgba(3, 7, 18, 0.00) 100%);
}

.ticket {
    border-radius: 88px 88px 0px 0px;
    border-top: 2px solid #1DD100;
    background: #F7F8F8;
}

.seats {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #F7F8F8;
}

.seatName {
    height: 56px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
}

.vl-divider {

    height: 992px;

    border-left: 2px dotted rgba(3, 7, 18, 0.30);
}

.hr {
    border: 1px dotted rgba(3, 7, 18, 0.20);
}

.selected {
    background: #1DD100;
    color: #fff;
}

.popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    max-height: calc(100% - 120px);
    /* Adjust the max-height to fit the content within the modal */
    overflow-y: auto;
    /* Add vertical scrollbar if content exceeds max-height */
}

.modal {
    overflow-y: hidden;
    /* Hide vertical scrollbar */
}

.nav-btn {

    border: 1px solid rgba(29, 209, 0, 0.40);

    background: rgba(29, 209, 0, 0.10);
}